[server]
# IP address to listen on, default is all interfaces
listen_address = 0.0.0.0
# Port to listen on
port = 334
# Timeout in seconds for connections
timeout = 60
# Whether to allow connections to high ports (>=1024)
# This is a security feature to prevent connections to unprivileged ports
# Default is false, requiring clients to listen on a port < 1024
allow_high_ports = false
# Path to the hostname->CN+SAN mapping file
mappings = /etc/lessencrypt/name_mapping.conf
# Path to the CA certificate file (PEM format)
ca_cert_file = /etc/lessencrypt/ca.crt
# Path to the CA private key file (PEM format)
ca_key_file = /etc/lessencrypt/ca.key
# Password for the CA private key (if encrypted)
# Leave commented out if the key is not encrypted
# ca_key_password = your-secure-password
#
#shared_secret=Sup3r_S3cr3t!

[certificate]
# Certificate subject information
country = US
state = California
locality = San Francisco
organization = LessEncrypt
# Validity period in days
validity_days = 365
